.contents {
  display: flex;
}

.contents .contents-list {
  background-color: blanchedalmond;
  height: 80vh;
  width: 20vw;
}

.contents .contents-content {
  width: calc(100% - 20vw);
  height: 80vh;
  margin: 0;
  padding: 0;
}
